
body {
    background-color:black;
}
.container-clk {
   
    height: auto;
}
.digiclock {
    font-size: 30px;
    color: azure;
    align-items: center;
    text-align: center;
}
.time {
    background-color: deepskyblue;
    position: absolute;
    height: 189px;
    width: 262px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.title{
    color: white;
    background-color: black;
    text-align: center;
}